/** Common mobile (screen XS, SM) styles **/
@include media-breakpoint-down(xs) {
  .container .content {
    margin-top: 20px;
  }

  .nav-links > li > a {
    padding: 10px;
    font-size: 12px;
    margin-right: 3px;

    .badge.badge-pill {
      display: none;
    }
  }

  .referenced-users {
    margin-right: 0;
  }

  .issues-details-filters:not(.filtered-search-block),
  .dash-projects-filters,
  .check-all-holder {
    display: none;
  }

  .rss-btn {
    display: none;
  }

  .project-home-links {
    display: none;
  }

  .project-home-panel {
    padding-left: 0 !important;

    .project-repo-buttons,
    .git-clone-holder {
      display: none;
    }

    // Display Star and Fork buttons without counters on mobile.
    .project-repo-buttons {
      display: block;

      .count-buttons .btn {
        margin: 0 10px;
      }

      .count-buttons .count-with-arrow {
        display: none;
      }
    }
  }

  .group-buttons {
    display: none;
  }

  .container .title {
    padding-left: 15px !important;
  }

  .nav-links,
  .nav-links {
    li a {
      font-size: 14px;
      padding: 19px 10px;
    }
  }

  .activity-filter-block {
    display: none;
  }

  .projects-search-form {
    .btn {
      display: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  .issues-filters {
    .milestone-filter {
      display: none;
    }
  }

  .page-title {
    .note-created-ago,
    .new-issue-link {
      display: none;
    }
  }

  aside:not(.right-sidebar) {
    display: none;
  }
}
